name: Build Executables

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        include:
          - os: windows-latest
            artifact_name: BiometricUploader-Windows
            executable_ext: .exe
            add_data_sep: ';'
          - os: ubuntu-latest
            artifact_name: BiometricUploader-Linux
            executable_ext: ''
            add_data_sep: ':'

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: pip install -r requirements.txt pyinstaller

      - name: Build executable
        run: |
          pyinstaller --name=BiometricUploader --onefile --windowed --icon=NONE --add-data="csv_api_sender.py${{ matrix.add_data_sep }}." --clean --noconfirm biometric_gui.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: dist/*${{ matrix.executable_ext }}